{% extends "base.html" %}
{% load static %}
{% block content %}
{%block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% comment %} <link rel="stylesheet" href="{% static 'css/estiloForm.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/estiloLogin.css' %}">
{%endblock%}

<div class="container">
    <h2>Registrarse</h2>
    <form method="post" action="{% url 'registrar' %}">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="mb-3">
        <label for="{{ form.username.id_for_label }}" class="form-label">Nombre de usuario</label>
        {{ form.username }}
        {% for error in form.username.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      </div>

      <div class="mb-3">
        <label for="{{ form.email.id_for_label }}" class="form-label">Correo electrónico</label>
        {{ form.email }}
        {% for error in form.email.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      </div>

      <div class="mb-3">
        <label for="{{ form.first_name.id_for_label }}" class="form-label">Nombre</label>
        {{ form.first_name }}
        {% for error in form.first_name.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      </div>

      <div class="mb-3">
        <label for="{{ form.password1.id_for_label }}" class="form-label">Contraseña</label>
        {{ form.password1 }}
        {% for error in form.password1.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      </div>

      <div class="mb-3">
        <label for="{{ form.password2.id_for_label }}" class="form-label">Confirmar contraseña</label>
        {{ form.password2 }}
        {% for error in form.password2.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      </div>

      <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
  </div>

{% endblock %}
{%block scripts %}
<script src="{% static  'js/form.js' %}"> </script>
{%endblock%}
