form {
    width: 400px;
    margin: 0 auto;
  }
  
  form .btn {
    width: 100%;
    padding: 10px;
    background-color: #FF56A0;
    color: #FF56A0;
    border: none;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  form textarea {
    height: 150px;
  }
  
  form input[type="file"] {
    display: block;
  }
  
  form p {
    margin-bottom: 10px;
  }

  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid  #FF56A0; /* Color del borde */
  
  }
  body {
    background-color: #f1c4d7; /* Color de fondo deseado */
  }
  .imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }