{% extends 'base.html' %} 
{% load static %}
{% block content %}


    <div id="work" class="portfolio">
        <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center text">
            <h3>Dulces</h3>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" src="{% static 'img/dulces/CANDYRATONGLOBO.png' %}" alt="CANDYRATONGLOBO"> </a> </div>
                </div>
                <div class="col-md-6 col-sm-6">
                <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" src="{% static 'img/dulces/CHICLECOLA.png' %}" alt="CHICLECOLA"> </a> </div>
                </div>
                <div class="col-md-6 col-sm-6">
                <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" src="{% static 'img/dulces/CHOCOCOCO.jpg' %}" alt="CHOCOCOCO"> </a> </div>
                </div>
                <div class="col-md-6 col-sm-6">
                <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" src="{% static 'img/dulces/G.NAVIDAD140G.jpg' %}" alt="G.NAVIDAD140G"> </a> </div>
                </div>
                <div class="col-md-6 col-sm-6">
                <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" src="{% static 'img/dulces/MARSHMALLOWANIMALITOS.jpg' %}" alt="MARSHMALLOWANIMALITOS"> </a> </div>
                </div>
                <div class="col-md-6 col-sm-6">
                <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" src="{% static 'img/dulces/POWERRING.jpg' %}" alt="POWERRING"> </a> </div>
                </div>
                <div class="col-md-6 col-sm-6">
                <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" src="{% static 'img/dulces/TUCREMA.png' %}" alt="TUCREMA"> </a> </div>
                </div>
                <div class="col-md-6 col-sm-6">
                <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" src="{% static 'img/dulces/MARSHMALLOWOSITOS.jpg' %}" alt="MARSHMALLOWOSITOS"> </a> </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}



