
{% extends 'base.html' %} 
{% load static %}
{% block content %}
    <div id="work" class="portfolio">
        <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center text">
            <h3>Snacks</h3>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" src="{% static 'img/Snacks_salados/icb_crunchis_trio.jpg' %}" alt="icb_crunchis_trio"> </a> </div>
                </div>
                <div class="col-md-6 col-sm-6">
                <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" src="{% static 'img/Snacks_salados/icb_manis.png' %}" alt="icb_manis"> </a> </div>
                </div>
                <div class="col-md-6 col-sm-6">
                <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" src="{% static 'img/Snacks_salados/icb_mezclas.png' %}" alt="icb_mezclas"> </a> </div>
                </div>
                <div class="col-md-6 col-sm-6">
                <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" src="{% static 'img/Snacks_salados/icb_mp_3papas.png' %}" alt="icb_mp_3papas"> </a> </div>
                </div>
                <div class="col-md-6 col-sm-6">
                <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" src="{% static 'img/Snacks_salados/icb_mp_frutos.png' %}" alt="icb_mp_frutos"> </a> </div>
                </div>
                <div class="col-md-6 col-sm-6">
                <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" src="{% static 'img/Snacks_salados/icb_ramitas1.png' %}" alt="icb_ramitas1"> </a> </div>
                </div>
                <div class="col-md-6 col-sm-6">
                <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" src="{% static 'img/Snacks_salados/icb_snackmix.png' %}" alt="icb_snackmix"> </a> </div>
                </div>
                <div class="col-md-6 col-sm-6">
                <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" src="{% static 'img/Snacks_salados/icb_tortillas.jpg' %}" alt="icb_tortillas"> </a> </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}