{% extends 'base.html' %} 
{% load static %}
{% block content %}
{%block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/estiloCotiza.css' %}">
{%endblock%}
    <!-- formulario -->

    <h1>Formulario de Contacto</h1>
    <form id="formulario" method="POST">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" placeholder="Ingrese nombre" required>

      <label for="correo">Correo electrónico:</label>
      <input type="email" id="correo" name="correo" placeholder="Ingrese correo" required>

      <label for="mensaje">Mensaje:</label>
      <textarea id="mensaje" name="mensaje" placeholder="Ingrese mensaje" required></textarea>

      <button type="submit" id="boton">Enviar</button>
    </form>
    {% endblock %}
{%block scripts %}
<script src="{% static  'js/validador.js' %}"> </script>
{%endblock%}
