{% extends "base.html" %}
{% load static %}
{% block content %}

<table>
    <thead>
      <tr>
        <th></th>
        <th>Código</th>
        <th>Nombre</th>
        <th>Precio</th>
       <th>fecha Elaboracion</th>
        <th>Fecha Vencimiento</th>

      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
      <tr>
        <td><img src="{{ producto.imagen.url }}" style="width: 100px;"></td>
        <td>{{ producto.codigo }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.fch_elab }}</td>
        <td>{{ producto.fch_vence }}</td>
        <td>
            <!-- <a class="btn btn-primary" href="#">Editar</a> -->
            <a class="btn btn-primary" href="{% url 'modificar_producto' producto.codigo %}">Editar</a>
            <a class="btn btn-danger" href="{% url 'eliminar_producto' producto.codigo %}">Eliminar</a>
            <!-- <a class="btn btn-danger" href="#">Eliminar</a> -->
            
            
            {% comment %} <a class="btn btn-primary" href="{% url 'modificar_producto' producto.pk  %}">Editar</a>
            <a class="btn btn-danger" href="{% url 'eliminar_producto'  producto.pk  %}">Eliminar</a> {% endcomment %}
            
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}